<!DOCTYPE html>
<html>
    <!-- hallo -->
    <head>
        <meta charset="utf-8" />
        <title>upbots.org</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="/img/upbots-logo.png" alt="upbots.org" />
                <h1>upbots.org</h1>
            </div>
            <nav>
                <ul>
                    <!--                     <li><a href="/embed-builder">Embed</a></li> -->
                    <li><a href="https://discord.gg/WJjzEPXQTF">Discord</a></li>
                    <li><a href="https://github.com/upbots-org">GitHub</a></li>
                    <li><a href="#">Donate</a></li>
                    <!-- Neu -->
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <div class="box-container">
                    <br /><br />
                    <div class="box">
                        <div class="box-header">
                            <img src="/img/levelup.png" alt="Bot 1" />
                            <h2>LevelUp</h2>
                        </div>
                        <div class="box-content">
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                            </p>
                        </div>
                        <a href="https://discord.com/oauth2/authorize?client_id=1030248474937131018&permissions=805685441&scope=applications.commands%20bot" class="btn">Invite</a>
                        <a href="https://top.gg/bot/1030248474937131018/vote" class="btn">Voten</a>
                        <a href="#" class="btn">Website</a>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <img src="/img/musicup.png" alt="Bot 2" />
                            <h2>MusicUp</h2>
                        </div>
                        <div class="box-content">
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                            </p>
                        </div>
                        <a href="https://discord.com/api/oauth2/authorize?client_id=1046132258907619468&permissions=139589975232&scope=bot%20applications.commands" class="btn"
                            >Invite</a
                        >
                        <a href="https://top.gg/bot/1046132258907619468/vote" class="btn">Voten</a>
                        <a href="#" class="btn">Website</a>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <img src="/img/ticketup.png" alt="Bot 3" />
                            <h2>TicketUp</h2>
                        </div>
                        <div class="box-content">
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                            </p>
                        </div>
                        <a href="#" class="btn">Invite</a>
                        <a href="#" class="btn">Voten</a>
                        <a href="/ticketup" class="btn">Website</a>
                    </div>
                </div>
            </section>
        </main>

        <br />
        <br />
        <footer>
            <div class="footer-container">
                <div class="footer-links">
                    <a href="#">Impressum</a>
                    <a href="#">Privacy &amp; ToS</a>
                </div>
            </div>
        </footer>
    </body>
</html>
